<launch>
    <arg name='code' default='circle'/>
    
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_empty_world.launch" />    
    
    <group if="$(eval code == 'circle')">
        <node pkg="Assignment2B_turtlebot3" type="circle.py" name="circle">
            <param name="r" value="2"/>
            <param name="w" value="1.04719"/>        
        </node>
    </group>

    <group if="$(eval code == 'square')">
        <node pkg="Assignment2B_turtlebot3" type="square.py" name="square">
            <param name="v" value="0.3"/>
            <param name="w" value="0.3"/>        
        </node>
    </group>
</launch>